<a href="https://colab.research.google.com/github/Xander50/C-129/blob/main/C_129.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/procodingclass/PRO-NASA-Exoplanet-Scraped-Data

Cloning into 'PRO-NASA-Exoplanet-Scraped-Data'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 23 (delta 8), reused 15 (delta 3), pack-reused 0
Unpacking objects: 100% (23/23), 1.73 MiB | 2.76 MiB/s, done.

In [2]:
import pandas as pd
planet_df_1=pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/updated_scraped_data.csv')
new_planet_df_1=pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/new_scraped_data.csv')

In [3]:
planet_df_1.head()

,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink
0,0,11 Comae Berenices b,304.0,19.4 Jupiters,4.72307,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...
1,1,11 Ursae Minoris b,409.0,14.74 Jupiters,5.01300,2009,https://exoplanets.nasa.gov/exoplanet-catalog/...
2,2,14 Andromedae b,246.0,4.8 Jupiters,5.23133,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...
3,3,14 Herculis b,58.0,4.66 Jupiters,6.61935,2002,https://exoplanets.nasa.gov/exoplanet-catalog/...
4,4,16 Cygni B b,69.0,1.78 Jupiters,6.21500,1996,https://exoplanets.nasa.gov/exoplanet-catalog/...

In [6]:
new_planet_df_1.head(10)

,id,planet_type,discovery_date,mass,planet_radius,orbital_radius,orbital_period,eccentricity,detection_method
0,0,Gas Giant,2007,19.4 Jupiters,1.08 x Jupiter,1.29 AU,326 days,0.23,NaN
1,1,Gas Giant,2009,14.74 Jupiters,1.09 x Jupiter,1.53 AU,1.4 years,0.08,NaN
2,2,Gas Giant,2008,4.8 Jupiters,1.15 x Jupiter,0.83 AU,185.8 days,0.0,NaN
3,3,Gas Giant,2002,4.66 Jupiters,1.15 x Jupiter,2.93 AU,4.9 years,0.37,NaN
4,4,Gas Giant,1996,1.78 Jupiters,1.2 x Jupiter,1.66 AU,2.2 years,0.68,NaN
5,5,Gas Giant,2020,4.32 Jupiters,1.15 x Jupiter,1.45 AU,1.6 years,0.06,NaN
6,6,Gas Giant,2008,10.3 Jupiters,1.11 x Jupiter,2.6 AU,2.7 years,0.08,NaN
7,7,Gas Giant,2008,8 Jupiters,1.664 x Jupiter,330.0 AU,6505.9 years,0.0,NaN
8,8,Gas Giant,2018,0.91 Jupiters,1.24 x Jupiter,0.19 AU,30.4 days,0.04,NaN
9,9,Gas Giant,2010,1.99 Jupiters,1.19 x Jupiter,1.333 AU,452.8 days,0.09,NaN

In [12]:
#new_planet_df_1.drop(columns=['discovery_date','mass','detection_method'],inplace=True)
new_planet_df_1.head()

   id planet_type   planet_radius orbital_radius orbital_period eccentricity
0   0   Gas Giant  1.08 x Jupiter        1.29 AU       326 days         0.23
1   1   Gas Giant  1.09 x Jupiter        1.53 AU      1.4 years         0.08
2   2   Gas Giant  1.15 x Jupiter        0.83 AU     185.8 days          0.0
3   3   Gas Giant  1.15 x Jupiter        2.93 AU      4.9 years         0.37
4   4   Gas Giant   1.2 x Jupiter        1.66 AU      2.2 years         0.68

In [14]:
headers=["name","light_from_earth","planet_mass","stellar_magnitude","discovery_date","hyperlink","planet_type","mass","planet_radius","orbital_radius","orbital_period","eccentricity","detection_method"]
final_planet_df=pd.DataFrame(columns=headers)
final_planet_df=pd.merge(planet_df_1,new_planet_df_1)
final_planet_df.head()

,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink,planet_type,planet_radius,orbital_radius,orbital_period,eccentricity
0,0,11 Comae Berenices b,304.0,19.4 Jupiters,4.72307,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.08 x Jupiter,1.29 AU,326 days,0.23
1,1,11 Ursae Minoris b,409.0,14.74 Jupiters,5.01300,2009,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.09 x Jupiter,1.53 AU,1.4 years,0.08
2,2,14 Andromedae b,246.0,4.8 Jupiters,5.23133,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.15 x Jupiter,0.83 AU,185.8 days,0.0
3,3,14 Herculis b,58.0,4.66 Jupiters,6.61935,2002,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.15 x Jupiter,2.93 AU,4.9 years,0.37
4,4,16 Cygni B b,69.0,1.78 Jupiters,6.21500,1996,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.2 x Jupiter,1.66 AU,2.2 years,0.68

In [15]:
final_planet_df.shape

(5009, 12)

In [16]:
final_planet_df.to_csv("final_scraped_data.csv")

In [17]:
a_planet_df=pd.read_csv('/content/PRO-NASA-Exoplanet-Scraped-Data/PSCompPars.csv')
a_planet_df.head()

,id,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
0,0,11 Com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,0,326.03000,...,-1.9238,4.72307,0.023,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848
1,1,11 UMi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,0,516.21997,...,-1.9765,5.01300,0.005,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903
2,2,14 And b,14 And,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,0,185.84000,...,-0.7140,5.23133,0.023,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826
3,3,14 Her b,14 Her,1,2,Radial Velocity,2002,W. M. Keck Observatory,0,1773.40002,...,-0.0073,6.61935,0.023,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351
4,4,16 Cyg B b,16 Cyg B,3,1,Radial Velocity,1996,Multiple Observatories,0,798.50000,...,-0.0111,6.21500,0.016,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603

In [18]:
final_planet_df.shape

(5009, 12)

In [19]:
a_planet_df.shape

(5009, 85)

In [20]:
a_planet_df["pl_name"]=a_planet_df["pl_name"].str.lower()
a_planet_df.head()

,id,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
0,0,11 com b,11 Com,2,1,Radial Velocity,2007,Xinglong Station,0,326.03000,...,-1.9238,4.72307,0.023,-0.023,2.282,0.346,-0.346,4.44038,0.003848,-0.003848
1,1,11 umi b,11 UMi,1,1,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,0,516.21997,...,-1.9765,5.01300,0.005,-0.005,1.939,0.270,-0.270,4.56216,0.003903,-0.003903
2,2,14 and b,14 And,1,1,Radial Velocity,2008,Okayama Astrophysical Observatory,0,185.84000,...,-0.7140,5.23133,0.023,-0.023,2.331,0.240,-0.240,4.91781,0.002826,-0.002826
3,3,14 her b,14 Her,1,2,Radial Velocity,2002,W. M. Keck Observatory,0,1773.40002,...,-0.0073,6.61935,0.023,-0.023,4.714,0.016,-0.016,6.38300,0.000351,-0.000351
4,4,16 cyg b b,16 Cyg B,3,1,Radial Velocity,1996,Multiple Observatories,0,798.50000,...,-0.0111,6.21500,0.016,-0.016,4.651,0.016,-0.016,6.06428,0.000603,-0.000603

In [21]:
a_planet_df=a_planet_df.sort_values('pl_name')
a_planet_df.tail(10)

,id,pl_name,hostname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,pl_controv_flag,pl_orbper,...,sy_disterr2,sy_vmag,sy_vmagerr1,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2
4959,4959,xo-2 s c,XO-2 S,2,3,Radial Velocity,2014,Roque de los Muchachos Observatory,0,120.800000,...,-0.94400,11.196,0.012,-0.012,9.272,0.021,-0.021,10.92780,0.000421,-0.000421
4960,4960,xo-3 b,XO-3,1,1,Transit,2007,XO,0,3.191540,...,-2.65800,9.854,0.004,-0.004,8.791,0.019,-0.019,9.73889,0.000258,-0.000258
4961,4961,xo-4 b,XO-4,1,1,Transit,2008,XO,0,4.125080,...,-2.85500,10.814,0.008,-0.008,9.406,0.023,-0.023,10.51310,0.000383,-0.000383
4962,4962,xo-5 b,XO-5,1,1,Transit,2008,XO,0,4.187756,...,-3.81200,12.198,0.092,-0.092,10.345,0.018,-0.018,11.94980,0.000237,-0.000237
4963,4963,xo-6 b,XO-6,1,1,Transit,2016,XO,0,3.765001,...,-2.39300,10.247,0.004,-0.004,9.246,0.020,-0.020,10.19100,0.000329,-0.000329
4964,4964,xo-7 b,XO-7,1,1,Transit,2019,XO,0,2.864142,...,-1.18100,10.521,0.006,-0.006,9.241,0.024,-0.024,10.45750,0.000449,-0.000449
4965,4965,yses 2 b,YSES 2,1,1,Imaging,2021,Paranal Observatory,0,NaN,...,-0.37300,10.885,0.011,-0.011,8.358,0.029,-0.029,10.53520,0.002319,-0.002319
4966,4966,yz cet b,YZ Cet,1,3,Radial Velocity,2017,La Silla Observatory,0,2.020870,...,-0.00109,12.074,NaN,NaN,6.420,0.017,NaN,10.42940,0.000576,-0.000576
4967,4967,yz cet c,YZ Cet,1,3,Radial Velocity,2017,La Silla Observatory,0,3.059890,...,-0.00109,12.074,NaN,NaN,6.420,0.017,NaN,10.42940,0.000576,-0.000576
4968,4968,yz cet d,YZ Cet,1,3,Radial Velocity,2017,La Silla Observatory,0,4.656260,...,-0.00109,12.074,NaN,NaN,6.420,0.017,NaN,10.42940,0.000576,-0.000576

In [24]:
final_planet_df.tail(10)

,id,name,light_years_from_earth,planet_mass,stellar_magnitude,discovery_date,hyperlink,planet_type,planet_radius,orbital_radius,orbital_period,eccentricity
4999,4999,XO-2 S c,494.0,1.37 Jupiters,11.196,2014,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.21 x Jupiter,0.4756 AU,120.8 days,0.15
5000,5000,XO-3 b,695.0,7.29 Jupiters,9.854,2007,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.41 x Jupiter,0.0476 AU,3.2 days,0.29
5001,5001,XO-4 b,889.0,1.42 Jupiters,10.814,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.25 x Jupiter,0.05524 AU,4.1 days,0.0
5002,5002,XO-5 b,901.0,1.19 Jupiters,12.198,2008,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.14 x Jupiter,0.0515 AU,4.2 days,0.0
5003,5003,XO-6 b,768.0,4.4 Jupiters,10.247,2016,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,2.07 x Jupiter,0.0815 AU,3.8 days,0.0
5004,5004,XO-7 b,764.0,0.709 Jupiters,10.521,2019,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.373 x Jupiter,0.04421 AU,2.9 days,0.04
5005,5005,YSES 2 b,357.0,6.3 Jupiters,10.885,2021,https://exoplanets.nasa.gov/exoplanet-catalog/...,Gas Giant,1.14 x Jupiter,115.0 AU,1176.5 years,0.0
5006,5006,YZ Ceti b,12.0,0.7 Earths,12.074,2017,https://exoplanets.nasa.gov/exoplanet-catalog/...,Terrestrial,0.913 x Earth,0.01634 AU,2 days,0.06
5007,5007,YZ Ceti c,12.0,1.14 Earths,12.074,2017,https://exoplanets.nasa.gov/exoplanet-catalog/...,Super Earth,1.05 x Earth,0.02156 AU,3.1 days,0.0
5008,5008,YZ Ceti d,12.0,1.09 Earths,12.074,2017,https://exoplanets.nasa.gov/exoplanet-catalog/...,Super Earth,1.03 x Earth,0.02851 AU,4.7 days,0.07

In [26]:
merge_planet_df=pd.merge(final_planet_df,a_planet_df,on="id")
merge_planet_df.shape

(5009, 96)

In [27]:
merge_planet_df.columns

Index(['id', 'name', 'light_years_from_earth', 'planet_mass',
       'stellar_magnitude', 'discovery_date', 'hyperlink', 'planet_type',
       'planet_radius', 'orbital_radius', 'orbital_period', 'eccentricity',
       'pl_name', 'hostname', 'sy_snum', 'sy_pnum', 'discoverymethod',
       'disc_year', 'disc_facility', 'pl_controv_flag', 'pl_orbper',
       'pl_orbpererr1', 'pl_orbpererr2', 'pl_orbperlim', 'pl_orbsmax',
       'pl_orbsmaxerr1', 'pl_orbsmaxerr2', 'pl_orbsmaxlim', 'pl_rade',
       'pl_radeerr1', 'pl_radeerr2', 'pl_radelim', 'pl_radj', 'pl_radjerr1',
       'pl_radjerr2', 'pl_radjlim', 'pl_bmasse', 'pl_bmasseerr1',
       'pl_bmasseerr2', 'pl_bmasselim', 'pl_bmassj', 'pl_bmassjerr1',
       'pl_bmassjerr2', 'pl_bmassjlim', 'pl_bmassprov', 'pl_orbeccen',
       'pl_orbeccenerr1', 'pl_orbeccenerr2', 'pl_orbeccenlim', 'pl_insol',
       'pl_insolerr1', 'pl_insolerr2', 'pl_insollim', 'pl_eqt', 'pl_eqterr1',
       'pl_eqterr2', 'pl_eqtlim', 'ttv_flag', 'st_spectype', 'st_teff',
       'st_tefferr1', 'st_tefferr2', 'st_tefflim', 'st_rad', 'st_raderr1',
       'st_raderr2', 'st_radlim', 'st_mass', 'st_masserr1', 'st_masserr2',
       'st_masslim', 'st_met', 'st_meterr1', 'st_meterr2', 'st_metlim',
       'st_metratio', 'st_logg', 'st_loggerr1', 'st_loggerr2', 'st_logglim',
       'rastr', 'ra', 'decstr', 'dec', 'sy_dist', 'sy_disterr1', 'sy_disterr2',
       'sy_vmag', 'sy_vmagerr1', 'sy_vmagerr2', 'sy_kmag', 'sy_kmagerr1',
       'sy_kmagerr2', 'sy_gaiamag', 'sy_gaiamagerr1', 'sy_gaiamagerr2'],
      dtype='object')

In [29]:
merge_planet_df.to_csv("merge_planets.csv")

In [30]:
from google.colab import files
files.download("merge_planets.csv")